- title t('.title', name: @table_name.classify)

%dl
  - Proxy.visible_column_names.each do |column|
    %dt= column.titleize
    %dd= @proxy.send column

= link_to t('edit'), edit_proxy_path(@proxy, table_name: @table_name)
\|
= link_to t('back'), proxies_path(table_name: @table_name)
